/* Grid
-----------------------------------*/
.container {
    position: relative;
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 20px;
}
.column,
.columns {
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
}
.column:first-child,
.columns:first-child {
    margin-left: 0;
}
.one.column {
    width: 4.6%;
}
.one.columns {
    width: 5.1%;
}
.two.columns {
    width: 13.3%;
}
.three.columns {
    width: 22%;
}
.four.columns {
    width: 30.6%;
}
.five.columns {
    width: 39.3%;
}
.six.columns {
    width: 48%;
}
.seven.columns {
    width: 56.6%;
}
.eight.columns {
    width: 65.3%;
}
.nine.columns {
    width: 74.0%;
}
.ten.columns {
    width: 82.6%;
}
.eleven.columns {
    width: 91.3%;
}
.twelve.columns {
    width: 100%;
    margin-left: 0;
}

@media (max-width: 550px) {
    .one.column,
    .one.columns,
    .two.columns,
    .three.columns,
    .four.columns,
    .five.columns,
    .six.columns,
    .seven.columns,
    .eight.columns,
    .nine.columns,
    .ten.columns,
    .eleven.columns,
    .twelve.columns {
        width: 100%;
    }
    .column,
    .columns {
        margin-left: 0%;
    }
}
.example-grid .column,
.example-grid .columns {
    background: #EEE;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    margin-bottom: 24px;
    font-weight: 600;
}